{% set earth_select %}
   SELECT 
      'base' AS land,
      st_union(the_geom) AS __geometry__,
      max(gid) AS __id__
{% endset %}

{% macro earth(zoom) -%}
   {% if zoom >= 9 %}
      {{ earth_select }} FROM land_polygons
   {% elif zoom >= 7 %}
      {{ earth_select }} FROM ne_10m_land_tiled
   {% elif zoom >= 4 %}
      {{ earth_select }} FROM ne_50m_land
   {% elif zoom >= 0 %}
      {{ earth_select }} FROM ne_110m_land
   {% endif %}
{%- endmacro %}
